# ========== LOGS ==========
*.log
ServerLogs/
calculator/log/
rest/log/

# ========== MAVEN ==========
target/
!.mvn/wrapper/maven-wrapper.jar

# ========== IDEs ==========

## Eclipse / Spring Tool Suite (STS)
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## Visual Studio Code
.vscode/

# ========== OS-specific ==========

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ========== BUILD SYSTEMS ==========
build/

# ========== OTHER ==========
*.swp
*.bak
*.tmp
*.orig
